.animal {
  &-holder {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__wrapper {
    width: 60vw;
    height: fit-content; //30rem;
    // min-height: fit-content;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    &--img {
      width: 100%;
      height: 40vh;
      display: flex;
      justify-content: center;
    }

    &--info-text {
      display: flex;
      justify-content: space-between;
      font-size: x-small;
      color: grey;
    }

    &--text {
      height: 60%;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
    }
    &--feed-section {
      display: flex;
      justify-content: space-between;
    }
  }
  &__name {
    margin: 0 0 1rem 0;
    text-align: center;
  }
  &__img {
    height: 100%;
    &.hungry {
      border: 10px solid rgba(255, 72, 0, 0.248);
    }

    &.satisfied {
      border: 10px solid rgba(0, 255, 51, 0.248);
    }
  }
  &__last-fed {
    font-size: small;
    color: grey;
  }
}
.feed {
  &__wrapper {
    height: 2rem;
    width: 5rem;
    z-index: 2;
    position: relative;
    top: -1.5rem;
    margin-right: 2rem;
  }
  &__image {
    width: 100%;
  }
}
