.animals {
  &__wrapper {
    width: 15rem;
    min-height: min-content;
    height: 18rem;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    color: aliceblue;
    &:any-link {
      text-decoration: none;
      color: inherit;
    }
    &.hungry {
      border: 5px solid rgba(255, 72, 0, 0.248);
    }

    &.satisfied {
      border: 5px solid rgba(0, 255, 51, 0.248);
    }

    &--img {
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: center;
    }
  }

  &__name {
    margin: 0 0 0.5rem 0;
  }

  &__img {
    height: 100%;
  }

  &__description {
    &--short {
      font-size: smaller;
      margin: 0;
      padding: 0.5rem;
    }
  }
}
