.animal {
  &__wrapper {
    width: 11rem;
    min-height: min-content;
    height: 22rem;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    &:any-link {
      text-decoration: none;
      color: inherit;
    }

    &--img {
      width: 100%;
      height: 30%;
      display: flex;
      justify-content: center;
    }

    &--text {
      height: 60%;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
    }
  }

  &__name {
    margin: 0 0 0.5rem 0;

    &--latin {
      font-style: italic;
      text-align: right;
      color: grey;
      font-size: x-small;
      margin: 0.3rem 0;
    }
  }

  &__img {
    height: 100%;
  }

  &__description {
    &--short {
      font-size: smaller;
      margin: 0;
    }
  }
  &__last-fed {
    font-size: x-small;
    color: grey;
    margin: 0;
  }
}

.starved {
  border: 5px solid rgba(255, 0, 0, 0.248);
}

.hungry {
  border: 5px solid rgba(255, 166, 0, 0.248);
}

.satisfied {
  border: 5px solid rgba(0, 255, 51, 0.248);
}
